@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

#avatar-dropdown::after {
  content: unset;
}

#avatar-dropdown {
  border: 0 !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.btn-close {
  filter: invert(1);
}

/* ========================= CUSTOM SCROLL BAR ========================= */
:root {
  --primary: #312e81;
  --primary-dark: #2c2979;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

.modal-content {
  border: unset !important;
  border-radius: 0.25rem !important;
}

.modal {
  backdrop-filter: blur(4px) brightness(0.5);
}